<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, Your user name is:  <%= @user.name %></h1>
    <p> Your password is:  <%= @user.crypted_password %></p>
    <p>
      User has been created. Contact David Gleba if you have any questions.
    </p>
  </body>
</html>
