
.search-width-50 {
  width:33%;
  min-width:100px; /* Change the width */
}

.pagination-vertical {
  float: none;
}

.pagination
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.pagination-row {
    height: 60%;
}

/* to put space between simple_form label and field. Problem shows in horizontal and inline items 
    http://stackoverflow.com/questions/30034735/adding-space-between-labels-and-fields
*/
.control-label { margin-right: 15px; }
/* not sure if this one helps.. */
.label-class { margin-right: 20px; }

/* more space between inline checkboxes. 2016-10-24.. */
.check_boxes-inline { margin-right: 15px; }

